<!-- Toolbar -->
<div class="main">
  <div class="toolbar" role="banner">
    <span>My Website</span>
  </div>
  <div class="content" role="main">
    <!-- Content -->
    <cumulio-dashboard 
      [dashboard]="'763177aa-9b93-4ae7-903e-3cb07dc593d8'"
      [loaderBackground]="'rgb(238, 243, 246)'"
      [loaderFontColor]="'rgb(0, 45, 112)'"
      [loaderSpinnerColor]="'rgb(0, 54, 136)'"
      [loaderSpinnerBackground]="'rgb(194, 209, 233)'">
    </cumulio-dashboard>
  </div>
  <!-- Footer -->
  <footer class="footer"><span></span></footer>
</div>